@import 'components/variables.sass'
@import 'components/navbar.sass'

.banner
  height: 250px
  img
    margin: 0 auto
    height: 100%
    width: auto
.jaune
  height: 250px
  background-color: $second_color
.bleu
  height: 250px
  background-color: $main_color
