@font-face {
  font-family: nasalization;
  src: url("../fonts/nasalization free.ttf"); }
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: nasalization;
  src: url("../fonts/nasalization free.ttf"); }
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf"); }
.navigation {
  margin: 0;
  border-radius: 10px 10px 0 0;
  border: none;
  background-color: #FFFFFF; }
  .navigation ul {
    margin: 10px; }
  .navigation li {
    width: 11em;
    padding: 0 5px; }
  .navigation .logo {
    margin-left: 0; }
  .navigation img {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 143px;
    width: auto; }

.navbar-right {
  margin-right: 0; }

.next_events {
  background-color: #0072B9; }
  .next_events .left_side {
    width: 50%;
    float: left; }

.expo_foot {
  background-color: #FBDB00; }

.next_events h1, .next_events h2, .next_events h3, .next_events h4, .next_events h5, .next_events h6, .expo_foot h1, .expo_foot h2, .expo_foot h3, .expo_foot h4, .expo_foot h5, .expo_foot h6 {
  margin: 15px;
  font-family: nasalization;
  font-weight: bold;
  text-shadow: 1px 1px #0F0F0F; }

.next_events .medias_container,
.next_events .text_container {
  width: 46vw;
  height: 40vh; }

.expo_foot .medias_container,
.expo_foot .text_container {
  height: 40vh; }

.next_events .medias_container {
  float: left; }
  .next_events .medias_container img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.next_events .text_container {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.next_events .medias_container img,
.expo_foot .medias_container img {
  width: 100%;
  height: 100%; }

footer {
  background-color: #0F0F0F; }
  footer .footer_contact, footer .footer_link, footer .footer_copyrights, footer a {
    color: #FFFFFF; }
  footer .footer_link a {
    font-size: 70px; }
  footer .row {
    margin: 0 !important; }

/* ----------<< Navbar Style >>---------- */
.media_section,
.feedback_section,
.random_section {
  padding: 25px; }

.media_section .content_container .tests_videos_container,
.media_section .content_container .podcasts_container,
.media_section .content_container .tests_written_container,
.feedback_section .content_container,
.random_section .content_container .first_random,
.random_section .content_container .second_random {
  display: flex;
  align-items: center;
  padding: 25px; }
  .media_section .content_container .tests_videos_container .medias_container,
  .media_section .content_container .podcasts_container .medias_container,
  .media_section .content_container .tests_written_container .medias_container,
  .feedback_section .content_container .medias_container,
  .random_section .content_container .first_random .medias_container,
  .random_section .content_container .second_random .medias_container {
    width: 40%;
    margin-right: 25px; }
  .media_section .content_container .tests_videos_container .text_container,
  .media_section .content_container .podcasts_container .text_container,
  .media_section .content_container .tests_written_container .text_container,
  .feedback_section .content_container .text_container,
  .random_section .content_container .first_random .text_container,
  .random_section .content_container .second_random .text_container {
    width: 60%; }

.sorting_container {
  padding: 25px;
  background-color: #0072B9;
  font-family: nasalization;
  text-shadow: 1px 1px #0F0F0F; }
  .sorting_container form .form-group * {
    margin: 0 25px; }
  .sorting_container form .form-control {
    width: 200px; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #DDDDDD; }

.content_container {
  background-color: #FBDB00;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.title_container {
  padding: 10px;
  background-color: #FFFFFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .title_container h1, .title_container h2, .title_container h3, .title_container h4, .title_container h5, .title_container h6 {
    margin: 0;
    font-family: nasalization;
    font-weight: bold;
    text-shadow: 1px 1px #0F0F0F; }

.text_container {
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden; }
  .text_container p {
    margin: 0;
    font-family: roboto; }

.medias_container img {
  border-radius: 3px; }

.yellow, .navigation li a {
  color: #FBDB00 !important; }
  .yellow:hover, .navigation li a:hover {
    color: #FBDB00 !important; }

.blue {
  color: #0072B9; }
  .blue:hover {
    color: #0072B9; }

.first_links {
  display: block;
  width: 100%;
  background-color: #0072B9;
  border-radius: 3px;
  text-align: center;
  font-family: nasalization;
  text-shadow: 1px 1px #0F0F0F;
  transition: background-color 1s; }
  .first_links:hover {
    background-color: #005386 !important; }

.second_links {
  display: block;
  width: 30%;
  padding: 10px;
  margin: 15px auto;
  background-color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
  font-family: nasalization;
  text-shadow: 1px 1px #0F0F0F; }
  .second_links:hover {
    text-decoration: none; }

.third_links:hover {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
