.sorting_container
  padding: 25px
  background-color: $blue_color
  font-family: $font_main
  text-shadow: 1px 1px $black_color
  form .form-group *
    margin: 0 25px
  form .form-control
    width: 200px
