@import 'variables.sass'

// Banner Styles
.banner
  height: 300px
  background:
    image: url('../../images/banner.jpg')
    size: contain
    repeat: no-repeat
    position: center

// Navbar Styles
.navigation
  margin: 0
  border-radius: 10px 10px 0 0
  border: none
  background-color: $white_color

  li
    margin: auto

    a
      font-weight: bold
      text-shadow: 1px 1px $black_color
      color: $yellow_color !important

  .logo
    margin-left: 0

  img
    position: absolute
    top: 51%
    left: 50%
    transform: translate(-50%, -50%)
    height: 143px
    width: auto

.navbar-right
  margin-right: 0

// Main Important
.next_events
  background-color: $blue_color

.expo_foot
  background-color: $yellow_color
