.media_section,
.feedback_section,
.random_section
  padding: 25px

.media_section .content_container .tests_videos_container,
.media_section .content_container .podcasts_container,
.media_section .content_container .tests_written_container,
.feedback_section .content_container,
.random_section .content_container .first_random,
.random_section .content_container .second_random
  display: flex
  align-items: center
  padding: 25px
  .medias_container
    width: 40%
    margin-right: 25px
  .text_container
    width: 60%
